config MCDE_ENABLE_FEATURE_HW_V1_SUPPORT
        bool "MCDE HW V1 support"
        default n
	help
	  Say yes here if V1 HW

config GPIO_STM
        bool "STM GPIO driver support"
        default y
	help
	  Say yes here to support the STM GPIO device

config STM_DMA
	tristate "STM DMA SUPPORT"
	default y
	help
		STM DMA low level driver for standrd DMA interface

config U8500_SECURE
	bool "Support for running in Secure mode"
	default n
	help
		Build the kernel to run in Secure mode.

menu "Debug level for STM drivers"
config  STM_ACODEC_DEBUG
	int "STM ACODEC Debug Level"
	depends on U8500_ACODEC
	default 0
	help
	  Sets the ACODEC debug ON/OFF for U8500 SoC
		* 0 OFF
		* 1 ON

config  STM_ALSA_DEBUG
	int "STM ALSA Debug Level"
	depends on SND_U8500_ALSA || SND_U8500_ALSA_AB8500
	default 0
	help
	  Sets the ALSA debug ON/OFF for U8500 SoC
		* 0 OFF
		* 1 ON
endmenu
#Configuration for MCDE setup

menu "Display Channel Selection"

menuconfig FB_U8500_MCDE_CHANNELA
	depends on FB
	bool "MCDE Channel A configuration"
	default y
	help
	 If you want to connect your panel to MCDE channel A then configure this option

choice
	prompt "Display Panel Type"
	depends on FB && FB_U8500_MCDE_CHANNELA
	default FB_U8500_MCDE_CHANNELA_DISPLAY_HDMI

config FB_U8500_MCDE_CHANNELA_DISPLAY_WVGA
	bool "CLCD WVGA"

config FB_U8500_MCDE_CHANNELA_DISPLAY_VGA
	bool "CLCD VGA"

config FB_U8500_MCDE_CHANNELA_DISPLAY_CRT
	bool "CRT VGA"

config FB_U8500_MCDE_CHANNELA_DISPLAY_SDTV
	bool "SDTV"

config FB_U8500_MCDE_CHANNELA_DISPLAY_HDMI
	depends on MCDE_ENABLE_FEATURE_HW_V1_SUPPORT && FB_HDMI
	bool "HDMI A"

config FB_U8500_MCDE_CHANNELA_DISPLAY_QVGA_PORTRAIT
	bool "CLCD QVGA Portrait"

config FB_U8500_MCDE_CHANNELA_DISPLAY_QVGA_LANDSCAPE
	bool "CLCD QVGA Landscape"

endchoice


choice
        prompt "HDMI resolution"
        depends on FB && FB_U8500_MCDE_CHANNELA && FB_U8500_MCDE_CHANNELA_DISPLAY_HDMI
        default FB_U8500_MCDE_HDMI_1280x720P60

config FB_U8500_MCDE_HDMI_1920x1080P30
        bool "1920x1080P@30Hz"

config FB_U8500_MCDE_HDMI_1280x720P60
        bool "1280x720P@60Hz"

#config FB_U8500_MCDE_HDMI_720x480P60
#        bool "720x480P@60Hz"

#config FB_U8500_MCDE_HDMI_640x480P60
#        bool "640x480P@60Hz"

endchoice


choice
        prompt "InputSource BPP"
        depends on FB && FB_U8500_MCDE_CHANNELA
        default FB_U8500_MCDE_CHANNELA_INPUT_16BPP_RGB


config FB_U8500_MCDE_CHANNELA_INPUT_16BPP_IRGB
        bool "16 BPP IRGB"

config FB_U8500_MCDE_CHANNELA_INPUT_8BPP
        bool "8 BPP"

config FB_U8500_MCDE_CHANNELA_INPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELA_INPUT_16BPP_ARGB
        bool "16 BPP ARGB"

config FB_U8500_MCDE_CHANNELA_INPUT_16BPP_RGB
	bool "16 BPP RGB"

config FB_U8500_MCDE_CHANNELA_INPUT_24BPP
	bool "24 BPP"

config FB_U8500_MCDE_CHANNELA_INPUT_24BPP_PACKED
	bool "24 BPP Packed"

config FB_U8500_MCDE_CHANNELA_INPUT_32BPP
        bool "32 BPP"

config FB_U8500_MCDE_CHANNELA_INPUT_YCBCR
        bool "YCbCr422"


endchoice


choice
	prompt "OutputPanel BPP"
	depends on FB && FB_U8500_MCDE_CHANNELA
	default FB_U8500_MCDE_CHANNELA_OUTPUT_16BPP

config FB_U8500_MCDE_CHANNELA_OUTPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELA_OUTPUT_16BPP
        bool "16 BPP"

config FB_U8500_MCDE_CHANNELA_OUTPUT_18BPP
        bool "18 BPP"

config FB_U8500_MCDE_CHANNELA_OUTPUT_24BPP
        bool "24 BPP"


endchoice

config FB_U8500_MCDE_CHANNELA_INPUT_BGRDATA
	bool "BGR Input data"
	depends on FB && FB_U8500_MCDE_CHANNELA
	default no
	help
		Select this option if your input data is in BGR format


config FB_U8500_MCDE_CHANNELA_INPUT_BPP
        int
	default 16 if !FB
	default 8 if FB_U8500_MCDE_CHANNELA_INPUT_8BPP
	default 16 if FB_U8500_MCDE_CHANNELA_INPUT_12BPP
	default 16 if FB_U8500_MCDE_CHANNELA_INPUT_16BPP_ARGB
	default 16 if FB_U8500_MCDE_CHANNELA_INPUT_16BPP_IRGB
	default 16 if FB_U8500_MCDE_CHANNELA_INPUT_16BPP_RGB
	default 25 if FB_U8500_MCDE_CHANNELA_INPUT_24BPP
	default 24 if FB_U8500_MCDE_CHANNELA_INPUT_24BPP_PACKED
	default 32 if FB_U8500_MCDE_CHANNELA_INPUT_32BPP
	default 11 if FB_U8500_MCDE_CHANNELA_INPUT_YCBCR


config FB_U8500_MCDE_CHANNELA_INPUT_16BPP_TYPE
	int
	default 0 if ((!FB_U8500_MCDE_CHANNELA_INPUT_12BPP) && (!FB_U8500_MCDE_CHANNELA_INPUT_16BPP_RGB) && (!FB_U8500_MCDE_CHANNELA_INPUT_16BPP_IRGB) && (!FB_U8500_MCDE_CHANNELA_INPUT_16BPP_ARGB))
	default 35 if FB_U8500_MCDE_CHANNELA_INPUT_16BPP_RGB
	default 36 if FB_U8500_MCDE_CHANNELA_INPUT_16BPP_IRGB
	default 37 if FB_U8500_MCDE_CHANNELA_INPUT_16BPP_ARGB
	default 38 if FB_U8500_MCDE_CHANNELA_INPUT_12BPP


config FB_U8500_MCDE_CHANNELA_DISPLAY_TYPE
	string
	default "VGA" if !FB
	default "WVGA" if FB_U8500_MCDE_CHANNELA_DISPLAY_WVGA
	default "VGA" if FB_U8500_MCDE_CHANNELA_DISPLAY_VGA
	default "CRT" if FB_U8500_MCDE_CHANNELA_DISPLAY_CRT
	default "SDTV" if FB_U8500_MCDE_CHANNELA_DISPLAY_SDTV
	default "HDMI A" if FB_U8500_MCDE_CHANNELA_DISPLAY_HDMI
	default "QVGA_Portrait" if FB_U8500_MCDE_CHANNELA_DISPLAY_QVGA_PORTRAIT
	default "QVGA_Landscape" if FB_U8500_MCDE_CHANNELA_DISPLAY_QVGA_LANDSCAPE

config FB_U8500_MCDE_CHANNELA_OUTPUT_BPP
        hex
	default 0x2 if !FB
	default 0x1 if FB_U8500_MCDE_CHANNELA_OUTPUT_12BPP
	default 0x2 if FB_U8500_MCDE_CHANNELA_OUTPUT_16BPP
	default 0x3 if FB_U8500_MCDE_CHANNELA_OUTPUT_18BPP
	default 0x4 if FB_U8500_MCDE_CHANNELA_OUTPUT_24BPP

config FB_U8500_MCDE_CHANNELA_INPUT_BGR
	hex
	default 0x0 if !FB || !FB_U8500_MCDE_CHANNELA_INPUT_BGRDATA
	default 0x1 if FB_U8500_MCDE_CHANNELA_INPUT_BGRDATA


menuconfig FB_U8500_MCDE_CHANNELB
	depends on FB
	bool "MCDE Channel B configuration"
	default n
	help
	 If you want to connect your panel to MCDE channel B then configure this option

choice
	prompt "Display Panel Type"
	depends on FB && FB_U8500_MCDE_CHANNELB
	default FB_U8500_MCDE_CHANNELB_DISPLAY_WVGA

config FB_U8500_MCDE_CHANNELB_DISPLAY_WVGA
	bool "CLCD WVGA"

config FB_U8500_MCDE_CHANNELB_DISPLAY_VGA
	bool "CLCD VGA"

config FB_U8500_MCDE_CHANNELB_DISPLAY_CRT
	bool "CRT VGA"

config FB_U8500_MCDE_CHANNELB_DISPLAY_SDTV
	bool "SDTV"

config FB_U8500_MCDE_CHANNELB_DISPLAY_QVGA_PORTRAIT
	bool "CLCD QVGA Portrait"

config FB_U8500_MCDE_CHANNELB_DISPLAY_QVGA_LANDSCAPE
	bool "CLCD QVGA Landscape"

config FB_U8500_MCDE_CHANNELB_DISPLAY_VUIB_WVGA
	bool "VUIB WVGA"

endchoice


choice
        prompt "InputDataFormat BPP"
        depends on FB && FB_U8500_MCDE_CHANNELB
        default FB_U8500_MCDE_CHANNELB_INPUT_16BPP_RGB


config FB_U8500_MCDE_CHANNELB_INPUT_16BPP_IRGB
        bool "16 BPP IRGB"

config FB_U8500_MCDE_CHANNELB_INPUT_8BPP
        bool "8 BPP"

config FB_U8500_MCDE_CHANNELB_INPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELB_INPUT_16BPP_ARGB
        bool "16 BPP ARGB"

config FB_U8500_MCDE_CHANNELB_INPUT_16BPP_RGB
	bool "16 BPP RGB"

config FB_U8500_MCDE_CHANNELB_INPUT_24BPP
	bool "24 BPP"

config FB_U8500_MCDE_CHANNELB_INPUT_24BPP_PACKED
	bool "24 BPP Packed"

config FB_U8500_MCDE_CHANNELB_INPUT_32BPP
        bool "32 BPP"

config FB_U8500_MCDE_CHANNELB_INPUT_YCBCR
        bool "YCbCr422"

endchoice


choice
	prompt "OutputPanel BPP"
	depends on FB && FB_U8500_MCDE_CHANNELB
	default FB_U8500_MCDE_CHANNELB_OUTPUT_16BPP

config FB_U8500_MCDE_CHANNELB_OUTPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELB_OUTPUT_16BPP
        bool "16 BPP"

config FB_U8500_MCDE_CHANNELB_OUTPUT_18BPP
        bool "18 BPP"

config FB_U8500_MCDE_CHANNELB_OUTPUT_24BPP
        bool "24 BPP"


endchoice



config FB_U8500_MCDE_CHANNELB_INPUT_BGRDATA
	bool "BGR Input data"
	depends on FB && FB_U8500_MCDE_CHANNELB
	default no
	help
		Select this option if your input data is in BGR format


config FB_U8500_MCDE_CHANNELB_INPUT_BPP
        int
	default 16 if !FB
	default 8 if FB_U8500_MCDE_CHANNELB_INPUT_8BPP
	default 16 if FB_U8500_MCDE_CHANNELB_INPUT_12BPP
	default 16 if FB_U8500_MCDE_CHANNELB_INPUT_16BPP_ARGB
	default 16 if FB_U8500_MCDE_CHANNELB_INPUT_16BPP_IRGB
	default 16 if FB_U8500_MCDE_CHANNELB_INPUT_16BPP_RGB
	default 25 if FB_U8500_MCDE_CHANNELB_INPUT_24BPP
	default 24 if FB_U8500_MCDE_CHANNELB_INPUT_24BPP_PACKED
	default 32 if FB_U8500_MCDE_CHANNELB_INPUT_32BPP
	default 11 if FB_U8500_MCDE_CHANNELB_INPUT_YCBCR


config FB_U8500_MCDE_CHANNELB_INPUT_16BPP_TYPE
	int
	default 0 if ((!FB_U8500_MCDE_CHANNELB_INPUT_12BPP) && (!FB_U8500_MCDE_CHANNELB_INPUT_16BPP_RGB) && (!FB_U8500_MCDE_CHANNELB_INPUT_16BPP_IRGB) && (!FB_U8500_MCDE_CHANNELB_INPUT_16BPP_ARGB))
	default 1 if FB_U8500_MCDE_CHANNELB_INPUT_16BPP_RGB
	default 2 if FB_U8500_MCDE_CHANNELB_INPUT_16BPP_IRGB
	default 3 if FB_U8500_MCDE_CHANNELB_INPUT_16BPP_ARGB
	default 4 if FB_U8500_MCDE_CHANNELB_INPUT_12BPP


config FB_U8500_MCDE_CHANNELB_DISPLAY_TYPE
	string
	default "VGA" if !FB
	default "WVGA" if FB_U8500_MCDE_CHANNELB_DISPLAY_WVGA
	default "VGA" if FB_U8500_MCDE_CHANNELB_DISPLAY_VGA
	default "CRT" if FB_U8500_MCDE_CHANNELB_DISPLAY_CRT
	default "SDTV" if FB_U8500_MCDE_CHANNELB_DISPLAY_SDTV
	default "QVGA_Portrait" if FB_U8500_MCDE_CHANNELB_DISPLAY_QVGA_PORTRAIT
	default "QVGA_Landscape" if FB_U8500_MCDE_CHANNELB_DISPLAY_QVGA_LANDSCAPE
	default "VUIB WVGA" if FB_U8500_MCDE_CHANNELB_DISPLAY_VUIB_WVGA

config FB_U8500_MCDE_CHANNELB_OUTPUT_BPP
        hex
	default 0x2 if !FB
	default 0x1 if FB_U8500_MCDE_CHANNELB_OUTPUT_12BPP
	default 0x2 if FB_U8500_MCDE_CHANNELB_OUTPUT_16BPP
	default 0x3 if FB_U8500_MCDE_CHANNELB_OUTPUT_18BPP
	default 0x4 if FB_U8500_MCDE_CHANNELB_OUTPUT_24BPP

config FB_U8500_MCDE_CHANNELB_INPUT_BGR
	hex
	default 0x0 if !FB || !FB_U8500_MCDE_CHANNELB_INPUT_BGRDATA
	default 0x1 if FB_U8500_MCDE_CHANNELB_INPUT_BGRDATA


menuconfig FB_U8500_MCDE_CHANNELC0
	depends on FB
	bool "MCDE Channel C0 configuration"
	default n
	help
	 If you want to connect your panel to MCDE channel C then configure this option

choice
	prompt "Display Panel Type"
	depends on FB && FB_U8500_MCDE_CHANNELC0
	default FB_U8500_MCDE_CHANNELC0_DISPLAY_WVGA

config FB_U8500_MCDE_CHANNELC0_DISPLAY_WVGA_PORTRAIT
#	depends on MCDE_ENABLE_FEATURE_HW_V1_SUPPORT
	bool "CLCD WVGA Portrait"

config FB_U8500_MCDE_CHANNELC0_DISPLAY_WVGA
	bool "CLCD WVGA"

config FB_U8500_MCDE_CHANNELC0_DISPLAY_VGA
	bool "CLCD VGA"

config FB_U8500_MCDE_CHANNELC0_DISPLAY_CRT
	bool "CRT VGA"

config FB_U8500_MCDE_CHANNELC0_DISPLAY_SDTV
	bool "SDTV"

config FB_U8500_MCDE_CHANNELC0_DISPLAY_QVGA_PORTRAIT
	bool "CLCD QVGA Portrait"

config FB_U8500_MCDE_CHANNELC0_DISPLAY_QVGA_LANDSCAPE
	bool "CLCD QVGA Landscape"

endchoice


choice
        prompt "InputDataFormat BPP"
        depends on FB && FB_U8500_MCDE_CHANNELC0
        default FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_RGB


config FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_IRGB
        bool "16 BPP IRGB"

config FB_U8500_MCDE_CHANNELC0_INPUT_8BPP
        bool "8 BPP"

config FB_U8500_MCDE_CHANNELC0_INPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_ARGB
        bool "16 BPP ARGB"

config FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_RGB
	bool "16 BPP RGB"

config FB_U8500_MCDE_CHANNELC0_INPUT_24BPP
	bool "24 BPP"

config FB_U8500_MCDE_CHANNELC0_INPUT_24BPP_PACKED
	bool "24 BPP Packed"

config FB_U8500_MCDE_CHANNELC0_INPUT_32BPP
        bool "32 BPP"

config FB_U8500_MCDE_CHANNELC0_INPUT_YCBCR
        bool "YCbCr422"

endchoice


choice
	prompt "OutputPanel BPP"
	depends on FB && FB_U8500_MCDE_CHANNELC0
	default FB_U8500_MCDE_CHANNELC0_OUTPUT_16BPP

config FB_U8500_MCDE_CHANNELC0_OUTPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELC0_OUTPUT_16BPP
        bool "16 BPP"

config FB_U8500_MCDE_CHANNELC0_OUTPUT_18BPP
        bool "18 BPP"

config FB_U8500_MCDE_CHANNELC0_OUTPUT_24BPP
        bool "24 BPP"


endchoice



config FB_U8500_MCDE_CHANNELC0_INPUT_BGRDATA
	bool "BGR Input data"
	depends on FB && FB_U8500_MCDE_CHANNELC0
	default no
	help
		Select this option if your input data is in BGR format


config FB_U8500_MCDE_CHANNELC0_INPUT_BPP
        int
	default 16 if !FB
	default 8 if FB_U8500_MCDE_CHANNELC0_INPUT_8BPP
	default 16 if FB_U8500_MCDE_CHANNELC0_INPUT_12BPP
	default 16 if FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_ARGB
	default 16 if FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_IRGB
	default 16 if FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_RGB
	default 25 if FB_U8500_MCDE_CHANNELC0_INPUT_24BPP
	default 24 if FB_U8500_MCDE_CHANNELC0_INPUT_24BPP_PACKED
	default 32 if FB_U8500_MCDE_CHANNELC0_INPUT_32BPP
	default 11 if FB_U8500_MCDE_CHANNELC0_INPUT_YCBCR


config FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_TYPE
	int
	default 0 if ((!FB_U8500_MCDE_CHANNELC0_INPUT_12BPP) && (!FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_RGB) && (!FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_IRGB) && (!FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_ARGB))
	default 1 if FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_RGB
	default 2 if FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_IRGB
	default 3 if FB_U8500_MCDE_CHANNELC0_INPUT_16BPP_ARGB
	default 4 if FB_U8500_MCDE_CHANNELC0_INPUT_12BPP


config FB_U8500_MCDE_CHANNELC0_DISPLAY_TYPE
	string
	default "VGA" if !FB
	default "WVGA_Portrait" if FB_U8500_MCDE_CHANNELC0_DISPLAY_WVGA_PORTRAIT
	default "WVGA" if FB_U8500_MCDE_CHANNELC0_DISPLAY_WVGA
	default "VGA" if FB_U8500_MCDE_CHANNELC0_DISPLAY_VGA
	default "CRT" if FB_U8500_MCDE_CHANNELC0_DISPLAY_CRT
	default "SDTV" if FB_U8500_MCDE_CHANNELC0_DISPLAY_SDTV
	default "QVGA_Portrait" if FB_U8500_MCDE_CHANNELC0_DISPLAY_QVGA_PORTRAIT
	default "QVGA_Landscape" if FB_U8500_MCDE_CHANNELC0_DISPLAY_QVGA_LANDSCAPE

config FB_U8500_MCDE_CHANNELC0_OUTPUT_BPP
        hex
	default 0x2 if !FB
	default 0x1 if FB_U8500_MCDE_CHANNELC0_OUTPUT_12BPP
	default 0x2 if FB_U8500_MCDE_CHANNELC0_OUTPUT_16BPP
	default 0x3 if FB_U8500_MCDE_CHANNELC0_OUTPUT_18BPP
	default 0x4 if FB_U8500_MCDE_CHANNELC0_OUTPUT_24BPP

config FB_U8500_MCDE_CHANNELC0_INPUT_BGR
	hex
	default 0x0 if !FB || !FB_U8500_MCDE_CHANNELC0_INPUT_BGRDATA
	default 0x1 if FB_U8500_MCDE_CHANNELC0_INPUT_BGRDATA

menuconfig FB_U8500_MCDE_CHANNELC1
	depends on FB
	bool "MCDE Channel C1 configuration"
	default n
	help
	 If you want to connect your panel to MCDE channel C then configure this option

choice
	prompt "Display Panel Type"
	depends on FB && FB_U8500_MCDE_CHANNELC1
	default FB_U8500_MCDE_CHANNELC1_DISPLAY_WVGA_PORTRAIT

config FB_U8500_MCDE_CHANNELC1_DISPLAY_WVGA_PORTRAIT
	bool "CLCD WVGA Portrait"

config FB_U8500_MCDE_CHANNELC1_DISPLAY_WVGA
	bool "CLCD WVGA"

config FB_U8500_MCDE_CHANNELC1_DISPLAY_VGA
	bool "CLCD VGA"

config FB_U8500_MCDE_CHANNELC1_DISPLAY_CRT
	bool "CRT VGA"

config FB_U8500_MCDE_CHANNELC1_DISPLAY_SDTV
	bool "SDTV"

config FB_U8500_MCDE_CHANNELC1_DISPLAY_QVGA_PORTRAIT
	bool "CLCD QVGA Portrait"

config FB_U8500_MCDE_CHANNELC1_DISPLAY_QVGA_LANDSCAPE
	bool "CLCD QVGA Landscape"

endchoice


choice
        prompt "InputDataFormat BPP"
        depends on FB && FB_U8500_MCDE_CHANNELC1
        default FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_RGB


config FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_IRGB
        bool "16 BPP IRGB"

config FB_U8500_MCDE_CHANNELC1_INPUT_8BPP
        bool "8 BPP"

config FB_U8500_MCDE_CHANNELC1_INPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_ARGB
        bool "16 BPP ARGB"

config FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_RGB
	bool "16 BPP RGB"

config FB_U8500_MCDE_CHANNELC1_INPUT_24BPP
	bool "24 BPP"

config FB_U8500_MCDE_CHANNELC1_INPUT_24BPP_PACKED
	bool "24 BPP Packed"

config FB_U8500_MCDE_CHANNELC1_INPUT_32BPP
        bool "32 BPP"

config FB_U8500_MCDE_CHANNELC1_INPUT_YCBCR
        bool "YCbCr422"

endchoice


choice
	prompt "OutputPanel BPP"
	depends on FB && FB_U8500_MCDE_CHANNELC1
	default FB_U8500_MCDE_CHANNELC1_OUTPUT_16BPP

config FB_U8500_MCDE_CHANNELC1_OUTPUT_12BPP
        bool "12 BPP"

config FB_U8500_MCDE_CHANNELC1_OUTPUT_16BPP
        bool "16 BPP"

config FB_U8500_MCDE_CHANNELC1_OUTPUT_18BPP
        bool "18 BPP"

config FB_U8500_MCDE_CHANNELC1_OUTPUT_24BPP
        bool "24 BPP"


endchoice



config FB_U8500_MCDE_CHANNELC1_INPUT_BGRDATA
	bool "BGR Input data"
	depends on FB && FB_U8500_MCDE_CHANNELC1
	default no
	help
		Select this option if your input data is in BGR format


config FB_U8500_MCDE_CHANNELC1_INPUT_BPP
        int
	default 16 if !FB
	default 8 if FB_U8500_MCDE_CHANNELC1_INPUT_8BPP
	default 16 if FB_U8500_MCDE_CHANNELC1_INPUT_12BPP
	default 16 if FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_ARGB
	default 16 if FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_IRGB
	default 16 if FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_RGB
	default 25 if FB_U8500_MCDE_CHANNELC1_INPUT_24BPP
	default 24 if FB_U8500_MCDE_CHANNELC1_INPUT_24BPP_PACKED
	default 32 if FB_U8500_MCDE_CHANNELC1_INPUT_32BPP
	default 11 if FB_U8500_MCDE_CHANNELC1_INPUT_YCBCR


config FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_TYPE
	int
	default 0 if ((!FB_U8500_MCDE_CHANNELC1_INPUT_12BPP) && (!FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_RGB) && (!FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_IRGB) && (!FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_ARGB))
	default 1 if FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_RGB
	default 2 if FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_IRGB
	default 3 if FB_U8500_MCDE_CHANNELC1_INPUT_16BPP_ARGB
	default 4 if FB_U8500_MCDE_CHANNELC1_INPUT_12BPP


config FB_U8500_MCDE_CHANNELC1_DISPLAY_TYPE
	string
	default "VGA" if !FB
	default "WVGA_Portrait" if FB_U8500_MCDE_CHANNELC1_DISPLAY_WVGA_PORTRAIT
	default "WVGA" if FB_U8500_MCDE_CHANNELC1_DISPLAY_WVGA
	default "VGA" if FB_U8500_MCDE_CHANNELC1_DISPLAY_VGA
	default "CRT" if FB_U8500_MCDE_CHANNELC1_DISPLAY_CRT
	default "SDTV" if FB_U8500_MCDE_CHANNELC1_DISPLAY_SDTV
	default "QVGA_Portrait" if FB_U8500_MCDE_CHANNELC1_DISPLAY_QVGA_PORTRAIT
	default "QVGA_Landscape" if FB_U8500_MCDE_CHANNELC1_DISPLAY_QVGA_LANDSCAPE

config FB_U8500_MCDE_CHANNELC1_OUTPUT_BPP
        hex
	default 0x2 if !FB
	default 0x1 if FB_U8500_MCDE_CHANNELC1_OUTPUT_12BPP
	default 0x2 if FB_U8500_MCDE_CHANNELC1_OUTPUT_16BPP
	default 0x3 if FB_U8500_MCDE_CHANNELC1_OUTPUT_18BPP
	default 0x4 if FB_U8500_MCDE_CHANNELC1_OUTPUT_24BPP

config FB_U8500_MCDE_CHANNELC1_INPUT_BGR
	hex
	default 0x0 if !FB || !FB_U8500_MCDE_CHANNELC1_INPUT_BGRDATA
	default 0x1 if FB_U8500_MCDE_CHANNELC1_INPUT_BGRDATA
endmenu


