if ARCH_U8500

menu "8500 target platform"

config MACH_U8500_SIMULATOR
	bool "8500 Simulator platform"
	select CPU_V7
	select ARM_GIC
	select SMP
	select MACH_U8500_MOP
	help
		Supports Simulation for u8500 platform

config MACH_U5500_SIMULATOR
	bool "5500(FairBanks) Simulator platform"
	select CPU_V7
	select ARM_GIC
	select SMP
	select MACH_U8500_MOP
	help
		Supports Simulation for u5500(FairBanks) platform

config MACH_U8500_MOP
	bool "MOP500 platform"
	select CPU_V7
	select ARM_GIC
	select SMP
	default y
	help
		Supports MOP500 target board
endmenu

config U8500_CPUIDLE
    tristate "CPUIdle support"
    depends on CPU_IDLE
    select GENERIC_CLOCKEVENTS_BROADCAST
    help
        Add support for CPUIdle for U8500

config U8500_CPUFREQ
    tristate "CPUFreq support"
    depends on CPU_FREQ
    default y
    help
        Add support for CPU Frequency scaling for U8500

config ARCH_HAS_CPU_IDLE_WAIT
    def_bool y

source "arch/arm/mach-u8500/Kconfig-arch"
source "arch/arm/mach-u8500/sim8500_Kconfig"
source "arch/arm/mach-u8500/mop500_Kconfig"

config FORCE_MAX_ZONEORDER
    int "Maximum zone order"
    default "12"

endif
