config GPIO_STM
        bool "STM GPIO driver support"
        default y
	help
	  Say yes here to support the STM GPIO device

config STM_DMA
	tristate "STM DMA SUPPORT"
	default y
	help
		STM DMA low level driver for standrd DMA interface

config U8500_SECURE
	bool "Support for running in Secure mode"
	default n
	help
		Build the kernel to run in Secure mode.

menu "Debug level for STM drivers"
config  STM_ACODEC_DEBUG
	int "STM ACODEC Debug Level"
	depends on U8500_ACODEC
	default 0
	help
	  Sets the ACODEC debug ON/OFF for U8500 SoC
		* 0 OFF
		* 1 ON

config  STM_ALSA_DEBUG
	int "STM ALSA Debug Level"
	depends on SND_U8500_ALSA || SND_U8500_ALSA_AB8500
	default 0
	help
	  Sets the ALSA debug ON/OFF for U8500 SoC
		* 0 OFF
		* 1 ON
endmenu

#Configuration for MCDE setup

menu "Display selection"

config DISPLAY_GENERIC_DSI_PRIMARY
        bool "Main display support"
	depends on MACH_U8500_MOP && FB_MCDE
	select MCDE_DISPLAY_GENERIC_DSI
        default y
	help
	  Say yes here if main display exists

config DISPLAY_GENERIC_DSI_SECONDARY
        bool "Sub display support"
	depends on MACH_U8500_MOP && FB_MCDE
	select MCDE_DISPLAY_GENERIC_DSI
        default n
	help
	  Say yes here if sub display exists

config DISPLAY_AB8500_TERTIARY
        bool "AB8500 TVout display support"
	depends on MACH_U8500_MOP && !AV8100_SDTV && FB_MCDE
	select MCDE_DISPLAY_AB8500_DENC
        default n
	help
	  Say yes here if tv out support

config DISPLAY_AV8100_TERTIARY
        bool "AV8100 HDMI/CVBS display support"
	depends on MACH_U8500_MOP && FB_MCDE
	select MCDE_DISPLAY_AV8100
        default n
	help
	  Say yes here if HDMI output support

config AV8100_SDTV
        bool "set AV8100 in CVBS mode"
	depends on DISPLAY_AV8100_TERTIARY
        default n
	help
	  Say yes here if tv out support
endmenu



