if ARCH_U8500

config UX500_SOC_DB8500
	bool
	depends on (MACH_U8500_MOP || MACH_U8500_SIMULATOR)
	default y

config UX500_SOC_DB5500
	bool
	default y
	depends on MACH_U5500_SIMULATOR

choice
	prompt "Ux500 target platform"
	default MACH_U8500_MOP

config MACH_U8500_SIMULATOR
	bool "U8500 Simulator (SVP8500)"
	select CPU_V7
	select ARM_GIC
	select SMP
	help
		Supports Simulation for u8500 platform

config MACH_U5500_SIMULATOR
	bool "U5500 Simulator (SVP5500)"
	select CPU_V7
	select ARM_GIC
	select SMP
	help
		Supports Simulation for u5500(FairBanks) platform

config MACH_U8500_MOP
	bool "U8500 MOP500/HREF"
	select CPU_V7
	select ARM_GIC
	select SMP
	help
		Supports MOP500 target board

endchoice

config U8500_CPUIDLE
    tristate "CPUIdle support"
    depends on UX500_SOC_DB8500 && CPU_IDLE
    select GENERIC_CLOCKEVENTS_BROADCAST
    default y
    help
        Add support for CPUIdle for U8500

config U8500_CPUFREQ
    tristate "CPUFreq support"
    depends on UX500_SOC_DB8500 && CPU_FREQ
    default y
    help
        Add support for CPU Frequency scaling for U8500

config U8500_PM
    tristate "PM Support"
    depends on UX500_SOC_DB8500 && PM
    default y
    help
	Add support for PM features for U8500

config ARCH_HAS_CPU_IDLE_WAIT
    def_bool y

config SENSORS1P_MOP
	tristate "HAL and Proximity sensors support"
	depends on GPIO_STMPE2401 || GPIO_TC35892
	default y
	help
		Add support for Osram's SFH7741 Proximity Sensor and Samsumg HED54XXU11 HAL Switch

source "arch/arm/mach-ux500/Kconfig-arch"

config FORCE_MAX_ZONEORDER
    int "Maximum zone order"
    default "12"

config U5500_MLOADER_HELPER
	bool "mLoader helper, mem config from kernel boot args exported to sysfs"
	default n
	depends on MACH_U5500_SIMULATOR
	help
	    Link between boot args and user space program that loads the modem ELF


endif
