<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="DMA-Guide">
 <bookinfo>
  <title>API Documentation for DMA controller driver</title>

  <copyright>
   <year>2008-2009</year>
   <holder>STMicroelectronics Pvt Ltd</holder>
  </copyright>

  <legalnotice>
   <para>
   This program is free software; you can redistribute it and/or modify it under
   the terms of the GNU General Public License as published by the Free
   Software Foundation; either version 2.1 of the License, or (at your option)
   any later version.

   This program is distributed in the hope that it will be useful, but WITHOUT
   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
   FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program. If not, see "http://www.gnu.org/licenses/".

   </para>
   </legalnotice>
 </bookinfo>

<toc></toc>
  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This Documentation describes the API's provided by the DMA controller Driver.
    </para>
  </chapter>

  <chapter id="interface">
    <title>Public Interface</title>
    <para>
	This Section lists the API's provided by the DMA controller driver to client drivers.
    </para>
!Earch/arm/mach-ux500/dma_40.c
  </chapter>

  <chapter id="private">
    <title>Private Functions</title>
    <para>
	This Section lists the functions used internally  by the DMA controller driver.
    </para>
!Iarch/arm/mach-ux500/dma_40.c
  </chapter>

  <chapter id="Other">
    <title>Other Data Structures</title>
    <para>
	This Section lists some of the Data structure used by the DMA driver.
    </para>
!Iarch/arm/mach-ux500/include/mach/dma_40-8500.h
!Iarch/arm/mach-ux500/include/mach/dma.h
  </chapter>
</book>
