<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="GPIO-Guide">
 <bookinfo>
  <title>API Documentation for GPIO controller driver</title>

  <copyright>
   <year>2008-2010</year>
   <holder>ST-Ericsson SA</holder>
  </copyright>

  <legalnotice>
   <para>
   This program is free software; you can redistribute it and/or modify it under
   the terms of the GNU General Public License as published by the Free
   Software Foundation; either version 2.1 of the License, or (at your option)
   any later version.

   This program is distributed in the hope that it will be useful, but WITHOUT
   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
   FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program. If not, see "http://www.gnu.org/licenses/".

   </para>
   </legalnotice>
 </bookinfo>

<toc></toc>
  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This Documentation describes the API's provided by the GPIO controller Driver.
    </para>
    <para>
	Only the API specific to the Ux500 platform is listed here.  For the generic GPIO
	API, see <filename>Documentation/gpio.txt</filename> in the kernel source tree.
    </para>
  </chapter>

  <chapter id="pubfunctions">
    <title> Public Interface </title>
    <para>
	This Section lists the API's provided by the GPIO controller driver to client drivers.
    </para>
    <para>
	Only the API specific to the Ux500 platform is listed here.  For the generic GPIO
	API, see <filename>Documentation/gpio.txt</filename> in the kernel source tree.
    </para>
!Earch/arm/plat-nomadik/gpio.c
  </chapter>
</book>
