<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="I2C-Guide">
 <bookinfo>
  <title>API Documentation for I2C controller driver</title>

  <copyright>
   <year>2009-2010</year>
   <holder>ST-Ericsson</holder>
  </copyright>

  <legalnotice>
   <para>
   This program is free software; you can redistribute it and/or modify it under
   the terms of the GNU General Public License as published by the Free
   Software Foundation; either version 2.1 of the License, or (at your option)
   any later version.

   This program is distributed in the hope that it will be useful, but WITHOUT
   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
   FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program. If not, see "http://www.gnu.org/licenses/".

   </para>
   </legalnotice>
 </bookinfo>

<toc></toc>
  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This Documentation describes the API's provided by the I2C controller Driver.
	Since this driver registers the transferfunction with kernel framework, there
	are only private functions in this I2C bus driver. This driver currently
	works only in master mode and does 7 bit adderssing only. There is no support
	for 10 bit addressing. Also currently only standard speed (100KHz) is supported.
    </para>
  </chapter>

  <chapter id="interface">
    <title>Public Interface</title>
    <para>
	This I2C controller driver is SMBUS compliant. It registers it's functions
	with the kernel I2C framework. Whenever a smbus read/write request is given
	kernel forms a smbus simulation and calls our transfer function.
    </para>
  </chapter>

  <chapter id="private">
    <title>Private Functions</title>
    <para>
	This Section lists the functions used internally  by the I2C controller driver.
    </para>
!Idrivers/i2c/busses/i2c-nomadik.c
  </chapter>

  <chapter id="Other">
    <title>Other Data Structures</title>
    <para>
	This Section lists some of the Data structure used by the I2C driver.
    </para>
!Iarch/arm/mach-ux500/include/mach/i2c.h
  </chapter>
</book>
