<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="STw4500-API-Guide">
 <bookinfo>
  <title>PRCMU Firmware Interface Driver API guide</title>

  <authorgroup>
   <author>
    <firstname>Sudeep Karkada</firstname>
    <surname>Nagesha</surname>
    <affiliation>
     <address>
      <email>sudeepkarkada.nagesha@stericsson.com</email>
     </address>
    </affiliation>
   </author>
   </authorgroup>

  <copyright>
   <year>2007-2009</year>
   <holder>ST-Ericsson</holder>
  </copyright>

  <subjectset>
    <subject>
      <subjectterm>Linux standard functions</subjectterm>
    </subject>
  </subjectset>

  <legalnotice>
   <para>
     This documentation is free software; you can redistribute
     it and/or modify it under the terms of the GNU General Public
     License version 2 as published by the Free Software Foundation.
   </para>

   <para>
     This program is distributed in the hope that it will be
     useful, but WITHOUT ANY WARRANTY; without even the implied
     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
     See the GNU General Public License for more details.
   </para>

   <para>
     You should have received a copy of the GNU General Public
     License along with this program; if not, write to the Free
     Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
     MA 02111-1307 USA
   </para>

   <para>
     For more details see the file COPYING in the source
     distribution of Linux.
   </para>

   </legalnotice>
 </bookinfo>

<toc></toc>

  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This documentation describes the API provided by the PRCMU firmware
    interface driver for U8500 platform.
    </para>
    </chapter>

     <chapter id="enum">
     <title>Enumerations</title>
     <para>
     This chapter contains the autogenerated documentation of the structures
     and enumerations which are used in the PRCMU firmware interface driver.
     It is also required by the client drivers.
     </para>
!Iarch/arm/mach-ux500/include/mach/prcmu-fw-api.h
  </chapter>

  <chapter id="pubfunctions">
     <title>Public Functions Provided</title>
     <para>
     This chapter contains the autogenerated documentation of the kernel
     API functions which are exported to the client drivers.
     </para>
!Earch/arm/mach-ux500/prcmu-fw.c
  </chapter>


  </book>
