#
# CAIF physical drivers
#

if CAIF

comment "CAIF transport drivers"

config CAIF_TTY
	tristate "CAIF TTY transport driver"
	default n
	---help---
	The CAIF TTY transport driver is a Line Discipline (ldisc)
	identified as N_CAIF. When this ldisc is opened from user space
	it will redirect the TTY's traffic into the CAIF stack.

#deprecated-functionality-below

if CAIF_TTY
config CAIF_TTY_NOFCS
	bool "Don't use checksum for CAIF TTY transport driver"
	default n
	---help---
	If the CAIF transport driver is reliable checksumming is
	not needed.
endif # CAIF_TTY


config CAIF_SPI_MASTER
	tristate "CAIF SPI transport driver for master interface"
	default n
	---help---
	The CAIF SPI transport driver. Master SPI interface.

config CAIF_SPI_SLAVE
	tristate "CAIF SPI transport driver for slave interface"
	default n
	---help---
	The CAIF SPI transport driver. Slave SPI interface.

config CAIF_SHM
	tristate "CAIF shared memory transport driver"
	default n
	---help---
	The caif low level driver for the shared memory driver.
	Be aware that if you enable this then you also need to enable a low-level shared memory driver.
        The default is to include the CAIF shared memory loopback driver (for testing).

config CAIF_LOOPBACK
	tristate "CAIF loopback test driver"
	default n
	---help---
	Loopback test driver

if CAIF_SPI_MASTER

comment "CAIF SPI physical drivers"

config CAIF_SPI_LOOP
	tristate "Use simulated SPI loop device"
	default n
	---help---
	Simulated SPI loop device.

endif # CAIF_SPI_MASTER

if CAIF_SPI_SLAVE

config CONFIG_CAIF_SPI_SYNC
	bool "Next command and length in start of frame"
	default n
	---help---
	Putting the next command and length in the start of the frame can
	help to synchronize to the next transfer in case of over or underruns.
	NB: This option also needs to be enabled on the modem.

endif # CAIF_SPI_SLAVE

if CAIF_SHM

comment "CAIF shared memory physical drivers"

config CAIF_SHM_LOOPBACK
	tristate "CAIF shared memory loopback driver"
	default CAIF_USE_SHM
	---help---
	Loopback driver that emulates a real shared memory transport.
	Mainly used for debugging.
	Uses the mailbox interface.

config CAIF_MBXIF
	tristate "CAIF shared mailbox interface"
	default CAIF_SHM
	---help---
	Generic shared mailbox interface

config CAIF_SMBX
	tristate "Use Simulated Mailbox"
	default CAIF_MBXIF
	---help---
	Answer y if you want to use a simulated mailbox interface for the CAIF shared memory transport.
	Mainly used for debugging and as example driver.
	This can also be built as a module.

endif # CAIF_USE_SHM

#deprecated-functionality-above

endif # CAIF
