#
# U8500 SoC audio configuration
#

config SND_SOC_U8500
	bool "U8500"
	depends on SND_SOC
	default y
	help
	  Support for sound devices specific to ARM architectures.
	  Drivers that are implemented on ASoC can be found in
	  "ALSA for SoC audio support" section.

